 body {background-color:rgb(194, 204, 209);
     border:10px solid blue} 
     .name  {color: rgb(31, 57, 191);
        background-color:rgb(123, 146, 166)
         
     }  
        .list {color: rgb(23, 38, 107)}  
     .title  {color: rgb(23, 38, 107);
     
      .girls    {color: rgb(240, 57, 124);
       
        }  
    .guys  {color: rgb(31, 57, 191);
        } 
        .awards {color: rgb(23, 38, 107);
        } 
        #department {color: rgb(23, 38, 107);
        } 
