 
 body {background-color:rgb(194, 204, 209);
           .name  {color: rgb(31, 57, 191);
               background-color:rgb(123, 146, 166)}
    .max {max-width:1000px;
    margin-left:auto;
    margin-right:auto;
        border:20px solid navy;  }
          
    .center {text-align:center;
        margin-right:auto;
        margin-left:auto;
    }
        .list {color: rgb(23, 38, 107)}  
     .title  {color: rgb(23, 38, 107);
     
      .girls    {color: rgb(240, 57, 124);
       
        }  
    .guys  {color: rgb(31, 57, 191);
        } 
        .awards {color: rgb(23, 38, 107);
        } 
        #department {color: rgb(23, 38, 107);
        } 
